<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>1000000</particles>
  <batches>100</batches>
  <inactive>50</inactive>
  <source strength="1.0">
    <space type="fission">
      <parameters>-0.62992 -0.6299199999999999 0 0.62992 0.6299199999999999 365.76</parameters>
    </space>
  </source>
  <output>
    <tallies>false</tallies>
  </output>
  <seed>1</seed>
  <temperature_multipole>true</temperature_multipole>
  <temperature_tolerance>1000</temperature_tolerance>
</settings>
